<!-- css -->
<link rel="stylesheet" href="/css/private/panel.css">
<link rel="stylesheet" href="/css/private/table.css">
<link rel="stylesheet" href="/css/private/modal.css">
<!-- html -->
<% var data %>
<% var startPage = +data.page - 1 > 0 ? +data.page - 1 : 1%>
<% var endPage = +data.page + 1 >= +data.pages  ? +data.pages :  +data.page + 1%>
<div class="wrapper-admin">
	<div class="top">
		<span id="heading">Groups</span>
		<a href="#">
			<img src="/img/add-orange.svg" alt="add-icon">
		</a>
	</div>
	<div class="main">
		<ul>
			<% for (let el of data.groups) {%>
				<li class="list">
					<a href="/admin/students?groupId=<%= el.group_id %>" class="name" data-name="groupName"><%= el.group_name %></a>
					<div class="options">
						<button data-id="<%= el.group_id %>" class="del"></button>
						<button data-id="<%= el.group_id %>" class="edit"><button>
					</div>
				</li>
			<% } %>			
		</ul>
	</div>
	<div class="bottom">
		<div>
			<a href="/admin/groups?page=<%= startPage %>">
				<button id="prev"></button>
			</a>
			<span>
				<span id="currentPage"><%= data.page %></span>
					/
				<span id="totalPages"><%= data.pages %></span>
			</span>
			<a href="/admin/groups?page=<%= endPage%>">
				<button id="next"></button>
			</a>
		</div>
	</div>
</div>

<div class="modal modal-hide" id="modal">
	<form>
		<header>
			<h2 id="modal-heading">Modal Title</h2>
		</header>
		<span id='error'></span>
		<main id="inputs">
		</main>
	   <footer>
		   <button type="button" class="close" id="close">Close</button>
		   <button type="button" class="send" id="send">Send</button>
	   </footer>
	</form>
</div>

<script src='/js/update_group.js'></script>
<script src="/js/delete_groups.js"></script>