<!-- css -->
<link rel="stylesheet" href="/css/private/panel.css">
<link rel="stylesheet" href="/css/private/table.css">

<!-- html -->
<% var data %>
<% if (!data) {%>
	data = [];
<% } %>
<div class="wrapper-admin">
	<div class="top">
		<a href="#">
			<img src="/img/add-orange.svg" alt="add-icon">
		</a>
	</div>
	<div class="main">
		<ul>
			<% for (let el of data) {%>
				<li>
					<span><%= el.group_name %></span>
					<div class="options">
						<button data-id="<%=el.id %>" class="del"></button>
						<button data-id="<%=el.id %>" class="edit"><button>
					</div>
				</li>
			<% } %>			
		</ul>
	</div>
	<div class="bottom">
		<div>
			<button id="prev"></button>
			<span>2/10</span>
			<button id="next"></button>
		</div>
	</div>
</div>
