<!-- css -->
<link rel="stylesheet" href="/css/private/panel.css">
<link rel="stylesheet" href="/css/private/table.css">

<!-- html -->
<% var data = data || {} %>
<% var { table } = data %>
<% var startPage = +data.page - 1 > 0 ? +data.page - 1 : 1%>
<% var endPage = +data.page + 1 >= +data.pages  ? +data.pages :  +data.page + 1%>
<div class="wrapper-admin">
	<div class="top">
		<span><%= data.heading %></span>
		<a href="#">
			<img src="/img/add-orange.svg" alt="add-icon">
		</a>
	</div>
	<div class="main">
		<ul>
			<% let keys = Object.keys(table) %>
			<% for (let index = 0; index < table[keys[0]].length; index++) { %>
				<li>
				    <% let ind = true %>
					<% for (let i = 0; i < keys.length; i++) {%>
						<% let type = table[keys[i]][index].type %>
						<% if(type == 'link') {%>
							<div class="name"><a href="<%= table[keys[i]][index].link %>"><%= table[keys[i]][index].text %></a></div>
						<% } else { %>
							<div class="name"><span><%= table[keys[i]][index].text %> %></span></div>
						<% } %>
					<% }%>
					<div class="options">
						<button data-id="<%= table[keys[0]][index].id %>" data-group-id="<%= table[keys[0]][index].groupId %>" data-url='<%= data.url%>' class="del"></button>
						<button data-id="<%= table[keys[0]][index].id  %>" data-url='<%= data.url%>' class="edit"><button>
					</div>
				</li>
			<% } %>			
		</ul>
	</div>
	<div class="bottom">
		<div>
			<a href="/admin<%= data.path %>&page=<%= startPage %>">
				<button id="prev"></button>
			</a>
			<span>
				<span id="currentPage"><%= data.page %></span>
					/
				<span id="totalPages"><%= data.pages %></span>
			</span>
			<a href="/admin<%= data.path %>&page=<%= endPage %>">
				<button id="next"></button>
			</a>
		</div>
	</div>
</div>

<script src="/js/delete_score.js"></script>