.wrapper-admin {
	display: flex;
	flex-direction: column;
	background-color: black;
	height: 100%;
}

.wrapper-admin .top {
	display: flex;
	align-items: center;
	padding: 24px 20px;
	height: 11%;
	background-color: rgba(255,255,255, 0.05);
	border-top: 0.5px solid rgba(255,255,255,0.2);
}
.wrapper-admin .top span {
	font-size: 28px;
	font-weight: 700;
	color: orange;
}
.wrapper-admin .main {
	height: 87%;
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
}

.wrapper-admin .main .name {
	text-align: left;
	width: 600px;
}

.wrapper-admin .bottom {
	display: flex;
	justify-content: flex-end;
	padding: 20px 70px;
	background-color: rgba(255,255,255,0.6);
}